@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h3>Who's gonna carry the boats?!</h3>
    @Html.ActionLink("Start a workout", "BeginWorkout", "Home", null, new { @class = "link-info" })
</div>
