@using WorkoutJournal.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WorkoutViewModel

<h1>Let's steal some souls!</h1>
<p>
    Current workout: @Model.CurrentWorkout.SessionDate.ToShortDateString()
</p>

<ul id="workoutTypes">
    <li id="0">Add new...</li>
</ul>

<button class="btn-primary">Click to add a workout</button>

@section Scripts {
    <script>
        let isDefaultState = true;

        $(document).ready(function () {
            $('.btn-primary').on('click', function () {
                $.ajax({
                  url: '/home/addworkout',
                  type: 'get',
                    success: function (data) {
                        addWorkout(data);
                    }
                })
            });
        });

        function addWorkout(data) {
            let workouts = $('#workoutTypes');

            if (isDefaultState && workouts.children()[0].id === "0") {
                workouts.children()[0].remove();
                isDefaultState = false;
            }

            let workout = document.createElement('li');
            workout.innerHTML = data.exerciseName;
            workout.id = data.id;
            workouts.append(workout);
        }
    </script>
}