@using WorkoutJournal.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WorkoutViewModel

<h1>Let's steal some souls!</h1>
<p>
    Current workout: @Model.CurrentWorkout.SessionDate.ToShortDateString()
</p>

<ul id="workoutTypes">
    <li id="0">Add new...</li>
</ul>

<button id="addWorkout" class="btn-primary">Click to add a workout</button>

<!-- Modal -->
<div class="modal fade" id="addWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="addWorkoutModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose a workout...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div id="workoutsHolder">
                 @* Workouts selection *@
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveChangesWorkoutSelect" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let isDefaultState = true;

        $(document).ready(function () {
            $('#addWorkout').on('click', function () {
                $.ajax({
                  url: '/home/getworkouts',
                  type: 'get',
                    success: function (data) {
                        $('#workoutsHolder').html(data);
                        $('#addWorkoutModal').modal('toggle');
                    }
                })
            });
            // TODO: make ajax now 
            $('#saveChangesWorkoutSelect').on('click', function (e) {
                $.ajax({

                })
            });
        });

        function addWorkout(data) {
            let workouts = $('#workoutTypes');

            if (isDefaultState && workouts.children()[0].id === "0") {
                workouts.children()[0].remove();
                isDefaultState = false;
            }

            let workout = document.createElement('li');
            workout.innerHTML = data.exerciseName;
            workout.id = data.id;
            workouts.append(workout);
        }
    </script>
}